<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name=".SharedPreferences.MyApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyApplication"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">

        <activity
            android:name=".Presentation.Onboarding.Activity.OnBoarding"
            android:exported="true" />
        <activity
            android:name=".Presentation.PhucHoi.Activity.test"
            android:exported="true" />

        <activity
            android:name=".Presentation.Accout_Setting.Activity.MyProfile"
            android:exported="true" />
        <activity
            android:name=".Presentation.ButtonNavigation.Home"
            android:exported="true" />
        <activity
            android:name=".Presentation.Cart.Activity.FirebaseActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Presentation.Cart.Activity.ThongTinActivity"
            android:exported="true" />
        <activity
            android:name=".Presentation.Cart.Activity.ThanhToanActivity"
            android:exported="true" />
        <activity
            android:name=".Presentation.PhucHoi.Activity.DanhMucActivity"
            android:exported="true"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".Presentation.PhucHoi.Activity.ChiTietSanPhamActivity"
            android:exported="true" />


        <activity
            android:name=".Presentation.PhucHoi.Activity.SanPhamActivity"
            android:exported="true" />
        <activity
            android:name=".Presentation.PhucHoi.Activity.DanhMuc"
            android:exported="true" />
        <activity
            android:name=".Presentation.Cart.Activity.GioHangActivity"
            android:exported="true" />
        <activity
            android:name=".Presentation.Onboarding.Activity.SplashScreen"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!--        <activity-->
        <!--            android:name=".Presentation.Cart.Activity.GioHangActivity"-->
        <!--            android:exported="true">-->
        <!--            <intent-filter>-->
        <!--                <action android:name="android.intent.action.MAIN" />-->

        <!--                <category android:name="android.intent.category.LAUNCHER" />-->
        <!--            </intent-filter>-->
        <!--        </activity>-->
        <activity
            android:name=".UI.MainActivity"
            android:exported="true" />
        <!--        <activity-->
        <!--            android:name=".Presentation.GH.MainActivity"-->
        <!--            android:exported="true">-->
        <!--            <intent-filter>-->
        <!--                <action android:name="android.intent.action.MAIN" />-->

        <!--                <category android:name="android.intent.category.LAUNCHER" />-->
        <!--            </intent-filter>-->
        <!--        </activity>-->
        <activity
            android:name=".Presentation.GH.MainActivity"
            android:exported="true" />
        <activity android:name=".Presentation.GH.CancelOrderActivity" />
        <activity android:name=".Presentation.GH.OrderDetailsActivity" />
        <activity android:name=".Presentation.GH.ReviewActivity" />
        <activity android:name=".Presentation.GH.TrackOder"
            android:exported="true"/>

        <activity
            android:name=".Presentation.GH.Test_arrived"
            android:exported="true" />
        <activity
            android:name=".Presentation.Accout_Setting.Activity.Account"
            android:exported="true" />
        <activity
            android:name=".Presentation.LoginAccout.SignIn.logout"
            android:exported="true" />
        <activity
            android:name=".Presentation.LoginAccout.ForgotPass.DatLai_Password"
            android:exported="true" />
        <activity
            android:name=".Presentation.LoginAccout.ForgotPass.forgot_password"
            android:exported="true" />
        <activity
            android:name=".Presentation.LoginAccout.SignIn.sign_in"
            android:exported="true" />
        <activity
            android:name=".Presentation.Wishlist.Activity.Detail_SP_WishList"
            android:exported="true" />
        <activity
            android:name=".Presentation.LoginAccout.OTP.SP_OTP"
            android:exported="true" />
        <activity
            android:name=".Presentation.LoginAccout.SingUp.sign_up"
            android:exported="true" /> <!-- <activity -->
        <!-- android:name=".Presentation.LoginAccout.HomeThamGia" -->
        <!-- android:exported="true" /> -->
        <activity
            android:name=".Presentation.Wishlist.Activity.Wishlist"
            android:exported="true" />
        <activity
            android:name=".Presentation.LoginAccout.HomeThamGia"
            android:exported="true" />
    </application>

</manifest>